/************************************************
 * LAYOUT
 ************************************************/

#container {
  margin: 0 auto;
  max-width: @too-big;
}

#main {
  width: @just-right;
  float: left;
}

.full-page #main {
  width: 100%;
  float: none;
}

#sidebar {
  float: right;
  width: @sidebar-width + @line-height * 1.5;
  padding-left: @line-height / 3 * 2;
}

footer {
  clear: both;
}