/************************************************
 * LAYOUT
 ************************************************/

#main {
  width: 100%;
  margin: 0;
}

.entry-content {
  .alignleft, .alignright, .aligncenter, .alignnone {
    max-width: @column-width;
  }
  .alignleft {
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline;
    float: left;
  }
  .alignright {
    margin-left: 1em;
    margin-bottom: 1em;
    display: inline;
    float: right;
  }
  & > .alignleft {
    margin-left: @line-height;
  }
  & > .alignright {
    margin-right: @line-height;
  }
  .wp-post-image {
    margin-left: @line-height;
    margin-right: @line-height;
    max-width: none;
    width: @column-width;
  }
}