/************************************************
 * LAYOUT
 ************************************************/

#main {
  width: 100%;
  margin: 0;
}

// Image alignment
.entry-content {
  .alignleft, .alignright, .aligncenter, .alignnone {
    max-width: @column-width;
  }
  .alignleft {
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline;
    float: left;
  }
  .alignright {
    margin-left: 1em;
    margin-bottom: 1em;
    display: inline;
    float: right;
  }
  & > .alignleft {
    margin-left: @line-height / 2;
  }
  & > .alignright {
    margin-right: @line-height / 2;
  }
  .wp-post-image {
    margin-left: @line-height / 2;
    margin-right: @line-height / 2;
    max-width: none;
    width: @column-width;
  }
}

/************************************************
 * COMMENTS
 ************************************************/

.commentlist {
  .comment-author {
    img.avatar {
      display: block;
    }
  }
}